In [92]:
import pandas as pd
from citipy import citipy
import numpy as np
import pandas as pd
import requests
import json
from config import open_weather_api_key

In [107]:


latitude = []
longitude = []

for each_lat in np.random.randint(-90,90,2000):
    latitude.append(each_lat)

for each_lon in np.random.randint(-180,180,2000):
    longitude.append(each_lon)

In [108]:

latitude_and_Longitude = tuple(zip(latitude,longitude))

In [109]:
 
cities = []
country = []

for lat,lon in latitude_and_Longitude:
    city = citipy.nearest_city(lat,lon)
    
    cityName = city.city_name
    
    cities.append(cityName)
    
    country.append(city.country_code)

In [110]:

df_cities = pd.DataFrame({'Cities': cities,
              'Country': country})

 
df_cities['Lat'] = ''
df_cities['Lng'] = ''
df_cities['Max Temp'] = ''
df_cities['Humidity'] = ''
df_cities['Cloudiness'] = ''
df_cities['Wind Speed'] = ''
df_cities['Current Description'] = ''

In [111]:

df_cities = df_cities.drop_duplicates(subset=['Cities'],keep='first')

In [112]:
df_cities

,Cities,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,lebu,cl,,,,,,,
1,taolanaro,mg,,,,,,,
2,bosaso,so,,,,,,,
3,porbandar,in,,,,,,,
4,samfya,zm,,,,,,,
...,...,...,...,...,...,...,...,...,...
1988,ola,ru,,,,,,,
1990,gigmoto,ph,,,,,,,
1992,sataua,ws,,,,,,,
1994,kuching,my,,,,,,,
1998,gulshat,kz,,,,,,,

In [118]:
for index,row in df_countries.iterrows():
    city_name = row['Cities']
    Country_id = row['Country']
    
    
    #api call for all Cities 
    api_url = "http://api.openweathermap.org/data/2.5/forecast" \
    "?q={},{}&units=IMPERIAL&mode=json&APPID={}".format(city_name,Country_id,open_weather_api_key)
    
    
    country_info = requests.get(api_url).json()
    
    #print all api url's for each city
    print(api_url)
    
    
    try:
        df_countries.at[index,'Lat',country_info['city']['coord']['lat']]
        
        
    except KeyError:
        df_countries.at[index,'Lat',np.nan]

http://api.openweathermap.org/data/2.5/forecast?q=narsaq,gl&units=IMPERIAL&mode=json&APPID=1701223204cf4e0b08a256c9ef541da0

TypeError: _get_value() got multiple values for argument 'takeable'